.total-expense h1 {
    background: #0c67b1;
    color: #fff;
    display: inline-block;
    min-width: 250px;
    padding: 20px;
    text-align: center;
}
.filter-container{
    display: flex;
    align-items: center;
}
.filter-container .col-left{
    flex-basis: 33%;
}
.filter-container .col-right{
    flex-basis: 66%;
}
select#purpose {
    min-height: 100px;
    min-width: 250px;
}

select#purpose option {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.postform{
    margin-right: 10px;
}